<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Meteo</title>
    {{>styles}}
</head>

<body>
    <div class="container">
        {{>header}}
        {{#each villes}}

                <div class="container-container">
        <p>> Previsions meteo pour les prochaines jours 
                <span class="bold1">[{{nearest_area.[0].areaName.[0].value}},
                    {{nearest_area.[0].region.[0].value}},
                    {{nearest_area.[0].country.[0].value}}]</span>
            </p>
        <div class="subcontainer1">
            
            {{#each weather}}
            <div class="city">
                <h1>Date: {{date}}</h1>
                <p><span class="bold">Temperature:</span> {{hourly.[0].tempC}} C (Res. {{hourly.[0].FeelsLikeC}})
                </p>
                <p><span class="bold">Min temp:</span> {{mintempC}}</p>
                <p><span class="bold">Max tepm:</span> {{maxtempC}}</p>
                <p><span class="bold">Vents:</span> {{hourly.[0].windspeedKmph}} km/h {{winddir16Point}}</p>
                <p><span class="bold">Condition:</span> {{hourly.[0].weatherDesc.[0].value}} </p>
                <p><span class="bold">Neige:</span> {{totalSnow_cm}} </p>
            </div>
            {{/each}}
        </div>
    </div>
                {{/each}}

        </div>

    {{>footer}}

</body>

</html>